body {
  font-family: Arial, sans-serif;
  background-color:#A594F9;
  margin: 0;
  padding: 30px;
}
#heading{
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#quiz-container {
  background: #CDC1FF;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 100px;
  max-width: 600px;
  margin: auto;
}

h2 {
  margin: 0 0 10px;
}

#options label {
  display: block;
  margin-bottom: 8px;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result-section {
  margin-top: 20px;
}
.correct {
  background-color: #d4edda;
  color: #155724;
}

.incorrect {
  background-color: #f8d7da;
  color: #721c24;
}

.answer-option {
  display: block;
  margin-bottom: 8px;
}


.review-item {
  margin: 10px 0;
}
